
.ipynb_checkpoints/
./ShowMeAI-Hub--awesome-AI-cheatsheets/

ShowMeAI-Hub--awesome-AI-cheatsheets/

namesAndAges.json/

nameAndCity.parquet/

nohup.out

fnCallId__fnSym_address.json/

fnCallId__fnSym_address.parquet/

*.jar

*.db

*.db-journal

*.log.*

*.log

__pycache__/
